@import "tailwindcss";

@layer utilities {
  /* Ocultar barra de desplazamiento manteniendo la funcionalidad */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
